.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
   background-color: #333;
  color: white;
}
#root > div > header > div.nav-left > a{
  color:white;
  text-decoration:none;
}
.nav-left {
  flex: 1;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.user-avatar {
  position: relative;
}

.avatar-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown-menu button {
  width: 100%;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #f0f0f0;
}
